body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite; 
    background: linear-gradient(to right, white, rgb(178, 210, 178));
    
}
 table{
   border-collapse: collapse;
   width: 50%;
 }

 th, td{
   border: 1px;
   padding: 5px;
   text-align: center;
 }

 .tab-link{
    color: rgb(231, 176, 103);
    justify-content: center;
 }

 .tab-link:hover{
    background-color: aliceblue;
 }
 
 .tab-content{
   color: rgb(231, 176, 103);
 }
 
 .button:hover{
    background-color: rgb(231, 176, 103);
   
 }

 form{
    max-width: fit-content;
    margin: auto;
 }